@import '../../stylesheets/util.scss';

.common-btn {
  cursor: pointer;

  &-normal {
    border: 1px solid $main-color;
    background-color: #fff;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }

  &-emphasize {
    border: 0;
    background-color: $main-color;
    color: #fff;

    &:hover {
      background-color: $main-color-light;
    }
  }

  &-underline {
    border: 0;
    color: $main-color;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &-none {
    border: 1px solid $main-color;
    background-color: #fff;
  }
}
