@import '../../stylesheets/util.scss';

.background {
  background: $sub-gradient;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
  border: 1px solid $gray-border-color;
}

.btns {
  display: flex;
  justify-content: space-around;
}

@include tablet-and-desktop {
  .wrapper {
    padding: 4rem 0;
    width: auto;
  }
}
