@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  position: absolute;
  bottom: 0.1rem;
  right: 2rem;
  pointer-events: none;
}
.ok-msg {
  color: green;
}
.not-ok-msg {
  color: red;
}

@include desktop {
  .wrapper {
    right: 1rem;
  }
}
