@import '../../stylesheets/util.scss';

$color-red: rgb(255, 80, 80);

.wrapper {
  width: 80%;
  margin: 2rem 0;
}

.text-area {
  width: 100%;
  height: 10rem;
  font-size: 2.4rem;
  border: 1px solid $gray-border-color;
}

.overlimit {
  outline: 5px solid $color-red;
}

.overlimit-message {
  height: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  color: $color-red;
}
