@import "../../stylesheets/util.scss";

.image-uploader {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60rem;

  &-preview {
    &-wrapper {
      position: relative;

      & + & {
        margin-left: 2rem;
      }
    }

    &-img {
      width: 15rem;
      height: 15rem;
      margin-bottom: 3rem;
      border: 1px solid $main-color-light;

      &.representative {
        border: 3px solid $main-color-light;
      }

      &:hover ~ &-close-btn {
        cursor: pointer;
        display: block;
      }

      &-close-btn {
        width: 2rem;
        height: 2rem;
        font-weight: bold;
        position: absolute;
        border-radius: 50%;
        border: 1px solid $main-color;
        background-color: $gray-background-color;
        color: $main-color;
        right: 0.5rem;
        top: 0.5rem;
        display: none;
        align-items: center;
        justify-content: center;

        &:hover {
          display: flex;
        }
      }

      &-select-btn {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
      }
    }
  }

  &-second-input {
    &-wrapper {
      width: 15rem;
      height: 15rem;
      margin-left: 2rem;
      border: 2px dashed $main-color-light;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-label {
      display: inline-block;
      padding: 1.5rem 2rem;
      border-radius: 50%;
      background-color: $main-color-light;
      color: white;
      font-size: 3rem;
      line-height: normal;
      cursor: pointer;
    }

    &-btn {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}
