@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  margin: 2rem 0;

  input {
    width: 90vw;
    height: 5rem;
    font-size: $medium-title-font-size;
    border: none;
    border-bottom: 1px solid $gray-border-color;
    text-align: center;
  }

  .place-section {
    display: flex;
    justify-content: center;
    align-items: center;
    > input {
      width: 75vw;
    }
    > span {
      font-size: $medium-title-font-size;
    }
  }

  .companion-section {
    position: relative;

    > select {
      width: 90vw;
      border: 1px solid;
      border-radius: 5px;
      background-color: #fff;
      font-size: $medium-title-font-size;
      text-align-last: center;
    }
  }

  .overlay-select-box {
    position: absolute;
    top: 4rem;
    left: 0;
    margin-top: 0.5rem;
  }
}
