@import '../../stylesheets/util.scss';

.title-uploader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20rem;

  input {
    width: 20rem;
    height: 5rem;
    font-size: 4rem;
    border: none;
    border-bottom: 1px solid $gray-border-color;
    text-align: center;
  }

  &-location-section {
    > span {
      font-size: 4rem;
      margin-right: 2rem;
    }
  }

  &-companion-section {
    position: relative;

    > select {
      width: 20rem;
      font-size: 4rem;
      text-align-last: center;
    }
  }

  &-overlay-select-box {
    position: absolute;
    top: 4rem;
    left: 0;
    margin-top: 0.5rem;
  }
}
