@import '../../stylesheets/util.scss';

.OAuth-btn-link {
  display: inline-block;
  width: 30rem;
  height: 4.2rem;
  margin: 1.5rem;
}

.OAuth-btn {
  margin: 0;
  width: 30rem;

  span {
    font-size: 1.8rem;
  }

  img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}
