@import '../../stylesheets/util.scss';

.profile-edit-page-content-item {
  font-size: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;

  > label {
    font-weight: bold;
    width: 30%;
    text-align: right;
    padding-right: 3rem;
  }

  > input {
    width: 80%;
    border: 1px solid $gray-border-color;
    border-radius: 0.3rem;
    padding-left: 1rem;

    &:hover {
      border: 1px solid #333;
    }

    &:focus {
      outline: none;
    }
  }
}
