@import '../../stylesheets/util.scss';

.background {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - #{$header-height});
  padding: 5rem 0;
  background-color: $gray-background-color;
}

.post {
  background-color: #fff;
  border-radius: 5px;
}

.small {
  width: 10rem;
  min-height: 10rem;
}

.medium {
  width: 20rem;
  min-height: 20rem;
}

.large {
  width: 100%;
  min-height: 60rem;
}

@include tablet {
  .large {
    max-width: 70rem;
  }
}

@include desktop {
  .large {
    max-width: 80rem;
  }
}
