@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 99vw;
  min-height: auto;
}

@include tablet-and-desktop {
  .wrapper {
    max-width: 47rem;
  }
}
