.profile-edit-page {
  margin: 0 auto;
  width: 100rem;
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;

  &-nav {
    width: 20%;

    &-item {
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
      border-left: 3px solid #673ab7;
      font-weight: 500;
      color: #673ab7;
    }
  }

  &-content {
    width: 70%;

    &-item {
      font-size: 2rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;

      .profile-image {
        margin: 0 2rem 2rem 24rem;
      }

      button {
        border: none;
        color: #b388ff;
      }

      label {
        font-weight: 500;
        width: 30%;
        text-align: right;
        padding-right: 3rem;
      }

      input {
        width: 60%;
        border: none;
        border: 1px solid lightgray;
        border-radius: 0.5rem;
      }
    }

    .btn-submit {
      font-size: 2rem;
      margin-top: 18rem;
      position: fixed;
      left: 45%;
      background-color: #673ab7;
      border: 0;

      &:hover {
        background-color: #7c4dff;
      }
    }
  }
}
