@import '../../stylesheets/util.scss';

.wrapper {
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 3.5rem;
  border: 1px solid $main-color;
  border-radius: 2rem;
  background-color: $main-color-light;
}

.icon {
  vertical-align: middle;
  max-width: 80%;
  max-height: 80%;
}

.label {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.btn {
  display: none;
  width: 0;
  height: 0;
}

@include tablet-and-desktop {
  .wrapper:hover {
    background-color: $main-color;
  }
}
