@import '../../stylesheets/util.scss';

.profile-edit-page {
  padding: 10rem 10rem 8rem 10rem;
  margin: 13rem auto 0 auto;
  width: 100rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid $gray-border-color;

  &-dimmed-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: $gray-background-color;
  }

  &-nav {
    width: 20%;

    &-item {
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
      border-left: 3px solid $main-color;
      font-weight: bold;
      color: $main-color;
    }
  }

  &-content {
    &-form {
      width: 70%;
    }

    &-item {
      .profile-image {
        margin: 0 2rem 2rem 18rem;
      }
    }
  }

  &-submit-btn {
    margin: 4rem 0 0 3rem;

    span {
      font-size: 2rem;
    }
  }

  &-image-change-btn {
    span {
      font-size: 2rem;
    }
  }
}
