@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  .banner {
    position: relative;
    width: 100%;
    height: 45rem;
    margin-bottom: 5rem;
    background-image: $main-gradient;

    &-text {
      position: absolute;
      top: 20rem;
      right: 5rem;
      width: 81rem;
      padding: 0 5rem;
      text-align: right;
      font-size: 4rem;
      font-family: 'KCC-eunyoung';
      color: #fff;

      b {
        color: $point-color;
      }
    }
  }
}
