@import '../../stylesheets/util.scss';

.main-page {
  display: flex;
  flex-direction: column;

  &-banner {
    position: relative;
    width: 100%;
    height: 45rem;
    margin-bottom: 5rem;
    background-image: $main-gradient;

    &-text {
      position: absolute;
      width: 70rem;
      top: 15rem;
      right: 5rem;
      padding: 0 5rem;
      color: #fff;
      font-size: 5rem;
      font-family: 'KCC-eunyoung';

      b {
        color: $point-color;
      }
    }
  }
}
