// style 초기화 코드
@font-face {
  font-family: 'godoMaum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Nanum Gothic', sans-serif !important;
}
input,
textarea,
label,
span,
button {
  font-family: inherit;
}
a {
  text-decoration: none;
}

* {
  box-sizing: inherit;
}

hr {
  margin: 2rem 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
