// style 초기화 코드

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monospace;
}

* {
  box-sizing: inherit;
}

hr {
  margin: 2rem 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
