//기본적으로 Normalize.css를 사용(CDN으로 제공).
//아래는 추가적인 초기화 코드.
@font-face {
  font-family: 'godoMaum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

div,
input,
form,
img,
label {
  box-sizing: border-box;
}

span {
  cursor: default;
}

hr {
  margin: 2rem 0;
}
