$main-color: #fe7c96;
$main-color-light: #ff9eb1;

$point-color: #fff59d;

$main-gradient: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(255, 168, 114, 1) 0%,
  rgba(254, 106, 164, 1) 100.2%
);

$sub-gradient: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(255, 195, 140, 1) 0%,
  rgba(255, 134, 191, 1) 100.2%
);

$basic-font-color: rgba(0, 0, 0, 0.85);

$gray-background-color: #f5f5f5;
$gray-border-color: #e0e0e0;

$gray-font-color: #bdbdbd;
$dark-gray-font-color: #616161;

$mobile-header-height: 6rem;
$tablet-and-desktop-header-height: 8rem;

$small-title-font-size: 2rem;
$medium-title-font-size: 2.75rem;
$large-title-font-size: 3.5rem;

$desktop-page-max-width: 94rem;

$mobile-preview-size: 10rem;
$desktop-preview-size: 15rem;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}
