@import '../../../stylesheets/util.scss';

.wrapper {
  margin: 2rem 0;
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 3.5rem;
  border: 1px solid $main-color;
  border-radius: 2rem;
  background-color: $main-color-light;
  cursor: pointer;
}

.icon {
  max-width: 80%;
  max-height: 80%;
}

.label {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn {
  display: none;
  width: 0;
  height: 0;
}
