@import '../../../stylesheets/util.scss';

.wrapper {
  position: relative;
  margin: 0 1rem;
  margin-bottom: 3rem;
}

.img {
  width: 15rem;
  height: 15rem;
  border: 1px solid $main-color-light;

  &.representative {
    border: 3px solid $main-color-light;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15rem;
}

.btns {
  margin: 0 1px;
  width: 2.2rem;
}
