@import '../../../stylesheets/util.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: $mobile-preview-size;
  height: $mobile-preview-size;
  border: 2px dashed $main-color-light;
}

.label {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $main-color-light;
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 6rem;
  cursor: pointer;
}

.btn {
  display: none;
  width: 0;
  height: 0;
}

@include tablet-and-desktop {
  .wrapper {
    width: $desktop-preview-size;
    height: $desktop-preview-size;
  }
}
