@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  display: grid;
  width: 100%;
  row-gap: 2rem;
}

@include tablet-and-desktop {
  .main {
    grid-template-columns: 50% 50%;
    width: 94rem;
    row-gap: 8rem;
  }
}
