.common-btn {
  button {
    height: 3rem;
    margin-left: 1.5rem;
    padding: 0 2rem;
    font-size: 1.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: gray;
      color: #fff;
    }
  }
}
