@import '../../stylesheets/util.scss';

.drop-down-menu {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }

  position: absolute;
  top: calc(#{$header-height} - 0.5rem);
  right: 0;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  outline: 1px solid black;
}
