@import '../../stylesheets/util.scss';

$dropdown-btn-height: 3rem;
$btn-quantity: 4;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.wrapper {
  position: absolute;
  top: calc(#{$mobile-header-height} - 0.5rem);
  right: 0;
  width: 10rem;
  height: 0;
  border: 1px solid $main-color;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
  background-color: #fff;
  overflow: hidden;
  transition: height 0.2s;

  .btns {
    width: 100%;
    height: $dropdown-btn-height;
    font-size: 1.2rem;
    line-height: $dropdown-btn-height;
    border-bottom: 1px solid $main-color;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $point-color;
    }
  }
}

.animation {
  height: calc(#{$dropdown-btn-height} * #{$btn-quantity});
}
