@import '../../stylesheets/util.scss';

$drop-down-btn-height: 3rem;

.drop-down-menu {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }

  position: absolute;
  top: calc(#{$header-height} - 0.5rem);
  right: 0;
  width: 10rem;
  height: 0;
  border: 1px solid $main-color;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
  background-color: #fff;
  overflow: hidden;
  transition: height 0.2s;
  opacity: 0;

  &-show {
    height: calc(#{$drop-down-btn-height}* 4);
    opacity: 1;
  }

  &-btns {
    width: 100%;
    height: $drop-down-btn-height;
    font-size: 1.2rem;
    line-height: $drop-down-btn-height;
    border-bottom: 1px solid $main-color;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $point-color;
    }
  }
}
