@import '../../stylesheets/util.scss';

$mobile-header-margin: 1rem;
$tablet-and-desktop-header-margin: 2rem;
$header-profile-image-size: 4rem;

.transparent-box {
  height: $mobile-header-height;
}

//화면 크기가 커져도 헤더 내용은 가운데 정렬하고 border-bottom은 화면 전체에 그리기 위한 속성.
.wrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: $mobile-header-height;
  border-bottom: 1px solid #d4d4d4;
  background: #fff;
  z-index: 2; //포스트 디테일 페이지에서 헤더가 지도에 가려지지 않기 위한 속성.
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: inherit;

  .title {
    position: absolute;
    top: 0;
    left: $mobile-header-margin;
    display: flex;
    align-items: center;
    width: 5.6rem;
    height: 100%;
    img {
      max-width: 100%;
    }
  }

  .searchbar-icon {
    width: $header-profile-image-size;
    height: $header-profile-image-size;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }

  /*
   form, input : 현재 모바일에는 필요 없지만 추후 기능 추가를 위해 여기에 작성.
   지금은 모바일 이외 페이지에만 렌더링 중.
  */
  form {
    display: flex;
    height: 3.5rem;
  }
  input {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 0.2rem 1rem 0.2rem 2.75rem;
    font-size: 1.75rem;
  }

  .btns {
    padding-right: $mobile-header-margin;
  }
  .user-icon {
    width: $header-profile-image-size;
    height: $header-profile-image-size;
    padding: 0.5rem;
  }
  .profile-img {
    width: $header-profile-image-size;
    height: $header-profile-image-size;
    z-index: 1;
    &:hover {
      box-shadow: 0 0 5px $main-color;
    }
  }
}

@include tablet-and-desktop {
  .transparent-box,
  .wrapper {
    height: $tablet-and-desktop-header-height;
  }

  .header {
    justify-content: center;
    max-width: $desktop-page-max-width;

    .title {
      width: auto;
      left: $tablet-and-desktop-header-margin;
      h1 {
        margin: 0;
        color: $main-color;
        font-size: 5rem;
        font-family: 'godoMaum';
        &:hover {
          color: $main-color-light;
        }
      }
    }

    .searchbar-icon-wrapper {
      position: relative;
    }
    .searchbar-icon {
      position: absolute;
      top: 50%;
      left: 0.75rem;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
    }

    .btns {
      position: absolute;
      right: $tablet-and-desktop-header-margin;
      padding-right: initial;
    }
  }
}
