@import '../../stylesheets/util.scss';

.header-wrapper {
  width: 100%;
  height: 8rem;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 2rem;
  background: #fff;
  border: 1px solid #d4d4d4;
  z-index: 1000;

  &-title {
    flex: 1;
    &:hover {
      text-decoration: none;
    }
    h1 {
      margin-right: 2rem;
      color: $main-color;
      font-size: 6rem;
      font-weight: bold;
      font-family: 'godoMaum';
      &:hover {
        color: $main-color-light;
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 30rem;
    height: 3rem;
  }

  &-searchbar-icon-wrapper {
    position: relative;
  }

  &-searchbar-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
  }

  input {
    width: inherit;
    height: inherit;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 0.2rem 1rem 0.2rem 2.75rem;
    font-size: 1.75rem;
  }

  &-btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
