@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  border-bottom: 1px solid $main-color;
}

.btns {
  margin: 0.6rem 1rem;
  padding: 0;
}
