.post-item {
  width: 40rem;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  background-color: #fff;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #a0a0a0;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    span {
      font-size: 1.6rem;
      font-weight: bold;
      padding-left: 1rem;
    }
  }

  &-img {
    width: inherit;
    height: inherit;
  }

  &-title {
    padding: 1rem 1.5rem 0 1.5rem;
    font-size: 1.6rem;
  }
  &-desc {
    padding: 1rem 1.5rem 2rem 1.5rem;
    font-size: 1.5rem;
  }
}
