.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28rem;
  height: 12rem;
  transform: translate(1rem, -14rem);
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px gray;
  &:hover {
    cursor: default;
  }

  a {
    text-decoration: none;
    color: green;
    &:visited {
      color: green;
    }
  }

  hr {
    margin: 0;
  }

  .location-name {
    margin: 0;
    font-size: 2rem;
    display: inline-block;

    > a {
      color: black;
      &:visited {
        color: black;
      }
    }
  }

  .arrow-image {
    position: absolute;
    top: 12rem;
    left: 12rem;
    transform: translate(5px, -2px);
    height: 5rem;
    &:hover {
      cursor: default;
    }
  }

  > button {
    position: absolute;
    top: 0rem;
    right: 0.5rem;
  }
}
