@import '../../stylesheets/util.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24rem;
  height: 12rem;
  transform: translate(1rem, -14rem);
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #333;
  cursor: default;

  > a {
    text-decoration: none;
    color: #3d75cc;
    &:visited {
      color: #3d75cc;
    }
  }

  > hr {
    margin: 0;
  }
}

.location-name {
  margin: 0;
  font-size: $small-title-font-size;
  display: inline-block;

  > a {
    text-decoration: none;
    color: #000;
    &:visited {
      color: #000;
    }
  }
}

.arrow-image {
  position: absolute;
  top: 12rem;
  left: 12rem;
  transform: translate(5px, -2px);
  height: 5rem;
  pointer-events: none;
}

.close-btn {
  top: 0rem;
  right: 0.5rem;
}

@include tablet-and-desktop {
  .wrapper {
    width: 28rem;
    a:hover {
      text-decoration: underline;
    }
  }
}
