@import '../../stylesheets/util.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: $sub-gradient;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}
.carousel {
  max-width: 600px;
  margin-bottom: 3rem;
}

@include tablet-and-desktop {
  .contents {
    max-width: $desktop-page-max-width;
  }
}
