.profile-info-wrapper {
  display: flex;
  justify-content: center;
}
.profile-info {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-areas: '. left right';
  width: 94rem;
  height: 27rem;
  padding: 5rem 0 2rem 0;

  &-left-column {
    grid-area: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  &-right-column {
    grid-area: right;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  &-username {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  &-overview {
    font-size: 2rem;
  }

  &-introduction {
    font-size: 2rem;
    padding: 1rem 0;
  }
}
