.related-post {
  width: 700px;
  position: relative;

  &-header {
    text-align: center;
    font-size: 2.8rem;
    margin: 2rem 0;
  }

  &-carousel {
    width: 500px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;

    h3 {
      text-align: center;
    }
  }

  &-carousel-wrap {
    display: flex;
    justify-content: space-evenly;
  }

  &-carousel-item {
    text-align: center;
    width: 100px;
  }

  &-carousel-btns {
    position: relative;
    top: -10rem;
  }
}

.related-post-comment {
  margin-top: 1.5rem;
}

.prev-btn {
  position: relative;
  left: 2rem;
}

.next-btn {
  position: absolute;
  right: 3rem;
}
