@import '../../../stylesheets/util.scss';

$button-height: 4rem;
$border-width: 1px;

.wrapper {
  margin: 2rem 0;
  padding: 0 1.5rem;
  height: $button-height;
  line-height: calc(#{$button-height} - (#{$border-width} * 2));
  border: $border-width solid $main-color;
  border-radius: 2rem;
  background-color: $main-color-light;

  .icon {
    vertical-align: middle;
    max-width: 80%;
    max-height: 80%;
  }

  .label {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    white-space: nowrap;
  }
}

@include tablet-and-desktop {
  .wrapper:hover {
    background-color: $main-color;
  }
}
