@import '../../../stylesheets/util.scss';

.location-finder-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1099;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;

  background-color: #fff;
  border: 1px solid $main-color;
  border-radius: 5px;
  box-shadow: 0 0 15px #999999;

  &-message {
    color: $main-color;
    font-family: 'godoMaum';
    font-size: 3.2rem;
    line-height: 4rem;
    white-space: nowrap;
  }

  &-buttons {
    display: flex;
    width: 80%;

    > button {
      width: 40%;
    }
  }
}
