@import '../../../stylesheets/util.scss';

.location-finder-info-popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1099;

  padding: 1rem 3rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'godoMaum';
  font-size: 4rem;
  color: $main-color;

  background-color: #fff;
  border: 1px solid $main-color;
  border-radius: 5px;
  box-shadow: 0 0 15px #999999;
}
