@import '../../../stylesheets/util.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
  height: 20rem;
}

.text-boxes {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 1px solid $gray-border-color;
  font-size: $medium-title-font-size;
  text-align: center;
}

.place-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  > .text-boxes {
    flex: 1;
  }
  > span {
    font-size: $medium-title-font-size;
  }
}

.companion-section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

@include tablet-and-desktop {
  .wrapper {
    max-width: 80%;
  }
}

@include desktop {
  .place-section {
    width: auto;
  }
  .text-boxes {
    width: auto;
  }
  .overlay-select-box {
    width: 30rem;
  }
}
